<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>words</key>
	<array>
		<string>sing</string>
		<string>smile</string>
		<string>dance</string>
		<string>laugh</string>
		<string>jump</string>
		<string>climb</string>
		<string>explore</string>
		<string>dream</string>
		<string>colour</string>
		<string>stretch</string>
		<string>think</string>
		<string>ponder</string>
		<string>analyze</string>
		<string>hug</string>
		<string>swim</string>
		<string>create</string>
		<string>work</string>
		<string>read</string>
		<string>observe</string>
	</array>
</dict>
</plist>
